

h2 {
    text-align: center;
}

.container {
    padding: 330px;
    background: #000000;
    color: #000000;
    margin: auto; 
    max-width: 700px;
    max-height: 500px;
}
.col.shadow-lg.p-3.mb-5.rounded {
    Padding: 50px;
    background-color: #808080;
    
 }