

h2 {
    text-align: center;
}

.container {
    padding: 330px;
    background: #ffffff;
    color: #000000;
    margin: auto; 
    max-width: 960px;
    max-height: 500px;
    font-size: 25px;
}

.row2 {
    background-color: #808080;
}
.col.shadow-lg.p-3.mb-5.rounded {
    Padding: 50px;
    background-color: #808080;
    
 }

 .image {
     position: relative;
 }
